/**
* style sheet for Comments
*/



.path-mod-comments ul.feed {
    margin:0;
    padding: 1em;
    list-style:none;
    max-width: 100%;
    border-top: 2px double #ccc;
    margin-bottom: 1em;
}
.path-mod-comments li.item {
    display:flex;
    flex-flow: nowrap;
    justify-content: center;
    margin-bottom: 1.5em;
    width:100%;
    border-bottom: 1px solid #ccc;
}

.path-mod-comments .userpix{
    order: 1;
    margin-right: 1em;
}


.path-mod-comments .msg-body {
    order: 2;
    width:100%;
}
 .path-mod-comments .msg-body .header {
     display: flex;
 }

.path-mod-comments .msg-body .header .name {
    order: 1;
    width: 80%;
    padding-bottom: 0.5rem;
    font-weight: bold;

}

.path-mod-comments .msg-body .header .date {
    order: 2;
    width:20%;
    color: #a0a0a0;
    font-size: 0.9em;
    text-align: end;
}

.path-mod-comments .options {
    font-size: 0.9em;
    padding: 1rem 0;
    order: 3;
    widows: 100%;
}

.path-mod-comments .options a {
    color: #EE7EA0;
}

.path-mod-comments .options a:hover {
    text-decoration: none;
    color: #EE7EA0;
}


.path-mod-comments .msg-body .message {
clear: both;
}

.path-mod-comments .like {
    padding-left: 1.5em;
    margin-right: 2em;
    background-image:url([[pix:comments|like]]);
    background-repeat: no-repeat;
}

.path-mod-comments .delete {
    padding-left: 1.5em;
    margin-right: 2em;
    background-image:url([[pix:comments|garbage]]);
    background-repeat: no-repeat;
}

.path-mod-comments .flag {
    padding-left: 1.5em;
    margin-right: 2em;
    background-image:url([[pix:comments|flag]]);
    background-repeat: no-repeat;
}