[submodule "local/commander"]
	path = local/commander
	url = https://github.com/MFreakNL/moodle-local_commander.git
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/elearningsoftware/moodle-mod_journal
[submodule "auth/saml2"]
	path = auth/saml2
	url = https://github.com/catalyst/moodle-auth_saml2.git
[submodule "enrol/auto"]
	path = enrol/auto
	url = https://github.com/catalyst/moodle-enrol_auto.git
[submodule "admin/tool/syncgroups"]
	path = admin/tool/syncgroups
	url = https://github.com/danielneis/moodle-tool_syncgroups.git
[submodule "availability/condition/cohort"]
	path = availability/condition/cohort
	url = https://github.com/moodleuulm/moodle-availability_cohort.git
[submodule "report/benchmark"]
	path = report/benchmark
	url = https://github.com/mikasmart/moodle-report_benchmark.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/kbwebsolutions/moodle-mod_questionnaire.git
[submodule "filter/fontawesome"]
	path = filter/fontawesome
	url = https://kbwebsolutions@github.com/ffhs/moodle-filter_fontawesome.git
[submodule "local/commentbank"]
	path = local/commentbank
	url = https://kbwebsolutions@github.com/kbwebsolutions/moodle-local_commentbank.git
[submodule "local/profilecohort"]
	path = local/profilecohort
	url = https://kbwebsolutions@github.com/moodleuulm/moodle-local_profilecohort.git
[submodule "filter/embedquestion"]
	path = filter/embedquestion
	url = https://kbwebsolutions@github.com/moodleou/moodle-filter_embedquestion.git
[submodule "lib/editor/atto/plugins/styles"]
	path = lib/editor/atto/plugins/styles
	url = https://kbwebsolutions@github.com/moodleuulm/moodle-atto_styles.git
[submodule "lib/editor/atto/plugins/embedquestion"]
	path = lib/editor/atto/plugins/embedquestion
	url = https://kbwebsolutions@github.com/moodleou/moodle-atto_embedquestion.git
[submodule "course/format/mypdchat"]
	path = course/format/mypdchat
	url = https://kbwebsolutions@github.com/kbwebsolutions/moodle-format_mypdchat.git
[submodule "theme/charteredcollege"]
	path = theme/charteredcollege
	url = https://kbwebsolutions@github.com/kbwebsolutions/moodle-theme_ChateredCollegeOfTeaching.git
[submodule "mod/bookingform"]
	path = mod/bookingform
	url = https://kbwebsolutions@github.com/kbwebsolutions/moodle-mod_bookingform.git
[submodule "local/metadata"]
	path = local/metadata
	url = https://kbwebsolutions@github.com/PoetOS/moodle-local_metadata.git
[submodule "admin/tool/uploadcomments"]
	path = admin/tool/uploadcomments
	url = https://kbwebsolutions@github.com/kbwebsolutions/moodle-tool_uploadcomments.git
[submodule "grade/grading/form/passfailrubric"]
	path = grade/grading/form/passfailrubric
	url = https://kbwebsolutions@github.com/kbwebsolutions/moodle-grading_passfailrubric.git
[submodule "local/filterurlresbak"]
	path = local/filterurlresbak
	url = https://kbwebsolutions@github.com/synergylearning/moodle-local_filterurlresbak.git
[submodule "filter/urlresource"]
	path = filter/urlresource
	url = https://kbwebsolutions@github.com/synergylearning/moodle-filter_urlresource.git
