<div data-region="forum-statistics">
    <table>
        <tr>
            <th>Module</th>
            <th>Forum</th>
        </tr>
        <tr>
            <td>Kierans Monkey Nuts</td>
            <td>Poodles Fluffy Bits</td>
        </tr>
    </table>
</div>