{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_comments/comment_posts

    Example context (json):
    {
        "section": "Topic 5",
        "messages": [
            {"id": "12", "userpix": "<img src='http://localhost/eef/pluginfile.php/5/user/icon/mypd/f2?rev=15'>", "firsname": "Kieran","lastname":"Briggs", "date": "22 April", "message": "content of the message"},
            {"id": "14", "userpix": "<img src='http://localhost/eef/pluginfile.php/5/user/icon/mypd/f2?rev=15'>", "firstname": "Tony","lastname":"Stark", "date": "2 April", "message": "I am Iron Man"}
        ]
    }

}}
<h4>{{section}}</h4>
<div id = "comment-posts" data-region="comment-posts">
<ul class ="comments feed">
    {{#messages}}
        <li id="message{{id}}" class="item">
            <div class="userpix">{{{userpix}}}</div>
            <div class="msg-body">
                <div class="header">
                    <div class="name">{{firstname}} {{lastname}} <em>says</em></div>
                    <div class="date">{{#userdate}}{{created}}, %d %b{{/userdate}}</div>
                </div>
                <div class="message">{{message}}</div>
                <div class="options"><span id = "like{{id}}" class="like likeoff" data-id={{id}}>{{# str}}like, mod_comments{{/str}}</span>
                {{#delete}}
                    <span class="delete" data-id={{id}}>{{# str}}delete, mod_comments{{/str}}</span>
                {{/delete}}
                <span class="flag">{{# str}}flag, mod_comments{{/str}}</span></div>
            </div>
        </li>
    {{/messages}}
</ul>
</div>
{{#js}}
    require(['jquery', 'mod_comments/options'], function($, options) {
        options.init();
    });
{{/js}}
