/**setting:categorycolors**/

/**setting:logo**/

/**setting:customcss**/

#page-site-index {
	#page-mast{
		text-align: center;
		background-color: transparent;
		h1 {
			display:none;
		}
		p {
			font-size: 2.2rem;
			line-height: 2.2rem;
			font-weight: 300;
			color: #1b2342;
			text-align: left;
		}
	}
}


btn-cct {
	background-color: #ec80a0;
	border-radius : 10px;
	
	a {
		color: #fff;
	}
	
	a:hover {
		text-decoration: none;
		color: #fff;
	}
}

//TODO Clean up this selector
.theme-mypd #region-main .modtype_label .no-overflow a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.mypd-due-date):not(.yui3-button):not(.active):not(.disabled),
.theme-mypd #region-main .summary .no-overflow a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.mypd-due-date):not(.yui3-button):not(.active):not(.disabled),
.theme-mypd #region-main .pagemod-content a:not(.mypd-action-icon),
.theme-mypd #region-main .specificfeedback a,
#page-mod-lesson-view #region-main .contents a
 {
	color: $brand-primary;
	border-bottom: 1px solid $brand-secondary;
	&:focus,
	&:hover{
		color:darken($brand-secondary, 8%);
		border-bottom: 2px solid $brand-primary;
		text-decoration: none;
	}
}

//Accordion Styles
.md-accordion {

	i {
		float:right;
	}
	.card {
		border: 0px;
	}
	.card-header {
		background-color: transparent;
	}

	[data-toggle="collapse"] .fa:before {
		content: "\f0d8";
	}

	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f0d7";
	}
}