/**setting:categorycolors**/

/**setting:logo**/

/**setting:customcss**/

#page-site-index {
	#page-mast{
		text-align: center;
		background-color: transparent;
		h1 {
			display:none;
		}
		p {
			font-size: 2.2rem;
			line-height: 2.2rem;
			font-weight: 300;
			color: #1b2342;
			text-align: left;
		}
	}
}


btn-cct {
	background-color: #ec80a0;
	border-radius : 10px;
	
	a {
		color: #fff;
	}
	
	a:hover {
		text-decoration: none;
		color: #fff;
	}
}